<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.heriana.javaaplikasi">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".JavaFireApplication"
        android:allowBackup="true"
        android:icon="@mipmap/firebase_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/firebase_logo"
        android:supportsRtl="true"
        android:theme="@style/NoActionBar">
        <activity
            android:name=".login.LoginActivity"
            android:label="Authentication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register.RegistrationActivity"
            android:label="Authentication" />
        <activity
            android:name=".home.HomeActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".lesson.LessonCategoryActivity"
            android:label="Lesson"
            android:theme="@style/NoActionBar" />
        <activity android:name=".Activities.LogoutActivity" />
        <activity android:name=".Activities.MateriJavaProgramming" />
        <activity android:name=".Activities.MateriJavaFundamental" />
        <activity android:name=".question.SoalActivity" />
        <activity android:name=".Activities.CompilerActivity" />
        <activity android:name=".question.SkorActivity" />
    </application>

</manifest>